main {
    min-height: 70vh;
    min-width: 80vh;
    background-color: #FFE8A1;
}

.brand img{
  position: relative;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;
}

  .card-img {
    height: 200px;
    object-fit: cover; 
  }
  
  .card {
    height: 100%; 
  }

.cookie-title {
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cookie-image {
    width: 100%; /* Adjust width as needed */
    height: 300px; /* Set a fixed height */
    object-fit: cover; 
    border-radius: 8px; 
  }

  nav {
    background-color: #D2A679;
  }

  .nav-link {
    color: #FFF5E1;
  }

  