main {
    min-height: 70vh;
    background-color: #FFE8A1;
}
h1  {
    font-family: "Sacramento", cursive;
    font-weight: 600;
    font-style: normal;
    color: #8B4513;
}

h2 {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
  color: #8B4513 !important;
  font-size: 4.5em !important;
}

.list-group-item {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}


.brand img{
  position: relative;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;
}

  .card-img {
    height: 200px;
    object-fit: cover;
    width: 100%; 
  }
  
  .card {
    height: 100%; 
  }

  .list-group-item {
    background-color: #D2A679;
    color: #FFF5E1;
  }

  .card-custom {
    width: 300px; 
    height: 400px;
    background-color: #e4cbc3   !important; 
  }
  
  .card-custom img {
    height: 200px;
    object-fit: cover; 
  }

  a {
    font-weight: 188;
    color: white !important;
    text-decoration: none !important;  }

  nav {
    background-color: #D2A679;

  }

  .page-link {
    color: #FFD700 !important;
    background-color: #C1440E !important;
  }

  .nav-link {
    color: #FFF5E1;
  }

  .rating {
    margin: 0 6px;
    
  }

  .rating-text {
    margin: 5px;
    font-style: italic;
  }
  
  .card-image {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: white;
  }

  .fixed-image {
    width: 100px;   
    height: 100px;  
    object-fit: cover; 
    border-radius: 5px; 
  }

  .btn {
    background-color: #FFD700 !important;
  }

  .dropdown-item {
    color: #FFD700 !important;
    font-weight: bold;
    font-size: 1.3em;
  }

  a[href="/register?redirect=/"], a[href="/login?redirect=/"] {
    color: #8B4513 !important;
    font-weight: bold;
  }
