main {
    min-height: 80vh;
    background-color: #FFE8A1;
}

  .card-img {
    height: 200px;
    object-fit: cover; 
  }
  
  .card {
    height: 100%; 
  }

.cookie-title {
    height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cookie-image {
    width: 100%; /* Adjust width as needed */
    height: 300px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 8px; /* Optional: to match your rounded class */
  }

  nav {
    background-color: #D2A679;
  }

  .nav-link {
    color: #FFF5E1;
  }

  